:root {
    --board-size: 600px;
    --board-border: 10px;
}

* {
    margin: 0;
}

body {
    position: relative;
    top: 200px;
    width: calc(var(--board-size) + 20px);
    margin: auto;
    margin-top: 40px;
    transition: top 2s ease-out;
}

#gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 640px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1) 40%
    );
    transition: height 1.5s ease-out;
}

#gradient-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 2s;
}

#title {
    cursor: default;
    margin-left: var(--board-border);
    margin-bottom: 20px;
    width: var(--board-size);
    display: flex;
    justify-content: space-around;
    color: black;
    transition: color 1.5s, margin-bottom 1.5s;
}

#game-status-container {
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 48%;
    left: 148px;
    width: 50%;
    background-color: white;
    border: 2px solid black;
    box-shadow: 10px 10px 20px black;
    color: black;
    text-align: center;
    transition: top 1.2s ease-out, color 1s, border 1s, box-shadow 1s;
}

#game-status-emoticon {
    display: none;
}

#game-status-play {
    margin-top: 30px;
    display: none;
}

.again {
    cursor: pointer;
}

.again:hover {
    background-color: black;
    color: white;
}

#game-container {
    /* margin: auto; */
    position: relative;
}

#board-container {
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: var(--board-border) solid black;
    box-shadow: 10px 10px 30px white;
    transition: box-shadow 2s;
}

.dark {
    background-color: #dc4c38;
}

.light {
    background-color: #efeeee;
}

#pieces-container {
    position: absolute;
    top: var(--board-border);
    left: var(--board-border);
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.piece {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    transition: top 0.2s;
}

/* .piece:hover { */
/*     top: -3px; */
/*     cursor: pointer; */
/* } */

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-1 {
    background-color: #d3af3f;
    transition: box-shadow 0.1s;
}
.player-1:hover {
    top: -3px;
    cursor: pointer;
    box-shadow: 4px 4px 4px black;
}

.player-2 {
    background-color: #202c8e;
    transition: box-shadow 0.1s;
}
/* .player-2:hover { */
/*     box-shadow: 4px 4px 4px #efeeee; */
/* } */

.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
}

.king {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 2px solid;
    border-color: #dc4c38;
    pointer-events: none;
}
