:root {
    --board-size: 600px;
    --board-border: 10px;
}

#game-container {
    position: relative;
}

#board-container {
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: var(--board-border) solid black;
}

.dark {
    background-color: #dc4c38;
}

.light {
    background-color: #efeeee;
}

#pieces-container {
    position: absolute;
    top: var(--board-border);
    left: var(--board-border);
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.piece {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    transition: top 0.2s;
}

.piece:hover {
    top: -3px;
    cursor: pointer;
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-1 {
    background-color: #d3af3f;
    transition: box-shadow 0.1s;
}
.player-1:hover {
    box-shadow: 4px 4px 4px black;
}

.player-2 {
    background-color: #202c8e;
    transition: box-shadow 0.1s;
}
.player-2:hover {
    box-shadow: 4px 4px 4px #efeeee;
}

.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
}

.king {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: 2px solid;
    border-color: #dc4c38;
    pointer-events: none;
}
